In [2]:

import pandas as pd

df=pd.read_csv("C:\\Users\\Luminar\\Desktop\\mljourney\\pandasworks\\social_media_case_study\\social_media_viral_content_dataset.csv")
df.head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10 00:00:00,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13 00:00:00,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03 00:00:00,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0

In [3]:
df.isnull().sum()

post_id            0
platform           0
content_type       0
topic              0
language           0
region             0
post_datetime      0
hashtags           0
views              0
likes              0
comments           0
shares             0
engagement_rate    0
sentiment_score    0
is_viral           0
dtype: int64

In [4]:
df.columns

Index(['post_id', 'platform', 'content_type', 'topic', 'language', 'region',
       'post_datetime', 'hashtags', 'views', 'likes', 'comments', 'shares',
       'engagement_rate', 'sentiment_score', 'is_viral'],
      dtype='object')

In [5]:
# print total number of rows
df.shape[0]

2000

In [6]:
#print total number of columns
df.shape[1]

15

In [7]:
df["platform"].unique()

array(['Instagram', 'YouTube Shorts', 'X', 'TikTok'], dtype=object)

In [8]:
#plaform-wise post count
df["platform"].value_counts()

platform
Instagram         539
YouTube Shorts    499
X                 485
TikTok            477
Name: count, dtype: int64

In [9]:
#unique content_type
df["content_type"].unique()

array(['text', 'carousel', 'video', 'image'], dtype=object)

In [10]:
# content-type wise count
df["content_type"].value_counts()

content_type
carousel    528
image       512
text        488
video       472
Name: count, dtype: int64

In [ ]:
#filter post with  more than 1m(1_000_000) views

df[df["views"]>1000000]

In [12]:
#average engagement rate by platform

df.groupby("platform")["engagement_rate"].mean()

platform
Instagram         0.148153
TikTok            0.143777
X                 0.201031
YouTube Shorts    0.139816
Name: engagement_rate, dtype: float64

In [13]:
#top3 post with most likes
df.sort_values(by="likes",ascending=False).head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral
283,SM_100283,Instagram,video,Lifestyle,ur,UK,2024-09-10 00:00:00,#viral #music #ai #trending,4999830,499983,9655,85470,0.1190,0.180,1
419,SM_100419,X,carousel,Politics,en,Pakistan,2024-11-28 00:00:00,#tech #viral #trending,2498765,499753,49731,5705,0.2222,-0.186,1
860,SM_100860,Instagram,text,Lifestyle,ur,India,2024-03-05 00:00:00,#fyp #funny #ai #viral,12493300,499732,38060,10579,0.0439,0.010,1

In [15]:
#total views by region
df.groupby("region")["views"].sum()

region
Brazil      1751589049
India       1759902460
Pakistan    1618919802
UK          1665703156
US          1773604676
Name: views, dtype: int64

In [23]:
# which content type has highest engagement rate
df.groupby("content_type")["engagement_rate"].sum().idxmax()

'text'

In [24]:
#count of viral post
df["is_viral"].value_counts()

is_viral
1    1398
0     602
Name: count, dtype: int64

In [25]:
#find average sentiment score of viral_post

df[df["is_viral"]==1]["sentiment_score"].mean()

np.float64(0.004452074391988556)

In [ ]:
df["post_datetime"]=pd.to_datetime(df["post_datetime"])
df["month"]=df["post_datetime"].dt.month
df.head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral,month
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1,12
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1,10
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0,5

In [31]:
df["month"].value_counts()

month
4     189
7     185
2     181
11    175
3     171
9     168
6     162
12    160
1     157
10    153
5     151
8     148
Name: count, dtype: int64

In [33]:
df["total_interactions"]=df["likes"]+df["comments"]+df["shares"]

In [34]:
df.head(3)

,post_id,platform,content_type,topic,language,region,post_datetime,hashtags,views,likes,comments,shares,engagement_rate,sentiment_score,is_viral,month,total_interactions
0,SM_100000,Instagram,text,Sports,ur,UK,2024-12-10,#tech #funny #music,2319102,122058,15800,861,0.0598,0.464,1,12,138719
1,SM_100001,Instagram,carousel,Sports,ur,Brazil,2024-10-13,#news #fyp #funny #ai #trending,2538464,110368,11289,54887,0.0695,-0.800,1,10,176544
2,SM_100002,YouTube Shorts,video,Technology,ur,UK,2024-05-03,#ai #news,1051176,87598,47196,44132,0.1702,0.416,0,5,178926

In [36]:
df.groupby("is_viral")[["likes","comments","shares","engagement_rate"]].mean()

                  likes      comments        shares  engagement_rate
is_viral
0          95912.504983  25182.388704  50115.519934         0.339711
1         309670.357654  24616.638054  49860.100143         0.079540

In [40]:
#which region produces more viral post

df[df["is_viral"]==1]["region"].value_counts().head(1)

region
US    294
Name: count, dtype: int64